<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "OpenCart">
    <test name = "Epics">
        <classes>
            <class name = "testCases.TC_Login_001"/>
            <class name = "testCases.TC_AddToCart_001"/>
            <class name="testCases.TC_RemoveFromCart_001"></class>
            <class name = "testCases.TC_CheckOut_001"></class>
        </classes>
    </test>
</suite>